@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --text-color:rgb(235, 90, 60);
    --bar-color:rgb(251, 222, 216);
    --bg-color:rgb(235, 90, 60);
  }
  .theme-yellow {
    --text-color:rgb(255, 182, 94);
    --bar-color:rgb(255, 234, 209);
    --bg-color:rgb(255, 182, 94);
  }
  .theme-purple{
    --text-color:rgb(110, 25, 70);
    --bar-color:rgb(226, 209, 218);
    --bg-color:rgb(110, 25, 70);
  }
  .theme-dark-blue{
    --text-color:rgb(15, 40, 55);
    --bar-color:rgb(207, 212, 215);
    --bg-color:rgb(15, 40, 55);
  }
}

@font-face {
  font-family: Effra;
  src: local("Effra"), local("Effra"),
    url(./fonts/TrialStaticFonts/Effra_Trial_Rg.ttf);
}

.App {
  width: 100vw;
  /* height: 1153px; */
}

* {
  margin: 0;
  padding: 0;
  font-family: Effra;
}

@layer components {
  .hover {
    @apply hover:bg-skin-fill opacity-50 rounded-xl;
  }
}


body {
  height: 100vh;
  width: 100vw;
}

@layer components {
  .container {
    @apply grid grid-cols-3 gap-5;
  }
}

@layer components {
  .badgeDiv {
    @apply   badgeCard;
  }
}

@layer components {
  .badgeText {
    @apply  rounded sm:h-11 sm:w-11 2xl:h-11 xl:h-9 2xl:w-11;
  }
}

@layer components {
  .borderBottom {
    @apply border-b border-gray-300;
  }
}

@layer components {
  .card {
    @apply flex shadow-2xl transition ease-in delay-200 hover:-translate-y-1
    hover:scale-105 hover:bg-skin-fill duration-300 pl-4 pb-4 gap-2 rounded-[10px]
    flex-col bg-white border-slate-500;
  }
}

@layer components {
  .badgeCard {
    @apply flex items-center gap-2 px-3 py-4 shadow-lg rounded;
  }
}

